*{
    background-image: url(https://img.freepik.com/foto-gratis/fondo-fotorrealista-galaxia_23-2151064387.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'kadwa';
    font-weight: 400;
    line-height: 150%;
    color: #ffffff;
}


.logo {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin-left: 40px;
    width: 10%;
    margin-top: 40px;
}

main{
    display: flex;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 40px;
}


.text-area {
    border: none;
    font-size: 32px;
    color: #ffffff;
    margin-top: 80px;
    margin-left: 80px;
    text-transform: lowercase;
}
 ::placeholder{ color: #ffffff;}
    .text-area:focus {
        outline: none;
    }


.Msj-Encriptado {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 100%;
    position: relative;
}

.Msj-Encriptado:focus {
    outline: none;
}


.Msj-Encriptado .contenido h2{
    font-size: 18px;
    line-height: 120%;
    color: #000000f5;
    background: #ffffff00;
    padding-left: 60px;

}


.Msj-Encriptado .contenido .img {
    max-width: 200px;
    margin-top: 150px;
    margin-bottom: 20px;
    align-self: center;
    background: #ffffff00;
    display: block;
    margin-left: 70px;

}


.Msj-Encriptado .mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 680px;
    width: 400px;
    margin-left: 60px;
    background: #ffffff7a;
    border: none;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    color: #343a40;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
    color: #000000;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
} 

.mensaje {
    outline: none;
}

.Msj-Encriptado .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background: rgba(0, 0, 0, 0.0);
    z-index: 2;
    height: 650px;
} 


.botones {
    display: flex;
    margin-top: 16px;
    margin-left: 80px;
}


.boton-encriptar {
    background: #ffffffdc;
    border: none;
    border-radius: 24px;
    color: #000000;
    cursor: pointer;
    height: 67px;
    width: 300px;
    font-size: 18px;
}


.boton-desencriptar {
    background: #ffffffd8;
    border: none;
    color: #000000;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 300px;
    font-size: 18px;
}


.Msj-Encriptado .contenido .copiar {
    background: #ffffffdc;
    border: none;
    border-radius: 24px;
    color: #000000;
    cursor: pointer;
    height: 70px;
    width: 200px;
    margin-top: auto;
    margin-left: 70px;
    font-size: 16px;
}


.informacion {
    color: #ffffff;
    font-size: 16px;
    margin-left: 5px;
}


.alerta{
    row-gap: 8px;
    height: 20px;
    width: 20px;
}


.info{
    display: flex;
    margin-left: 80px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.github{
    width: 40px;
    height: 40px;
}

.linkedin {
    width: 40px;
    height: 40px;
}

.final{
    margin: 10px;
    text-align: center;
    color: #ffffff7c;
}

@media (max-width: 1000px){

    .logo{
        margin: 10px;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    .text-area{
        margin-top: 10px;
        margin-left: 10px;
        text-transform: lowercase;
    }

    .info{
        margin-left: 10px;
    }

    .botones{
        margin-left: 10px;
    }

    .boton-encriptar{
        height: 50px;
        width: 250px;
    }

    .boton-desencriptar {
        height: 50px;
        width: 250px;
    }

    .Msj-Encriptado{
        justify-content: flex-start;
    }

    .Msj-Encriptado .contenido{
        height: 150px;
        margin-left: 80px;
    }

    .Msj-Encriptado .mensaje{
        width: 550px;
        height: 200px;
        margin-left: 0;
        margin-top: 10px;
    }

    .Msj-Encriptado .contenido .img{
        display: none;
    }

    .Msj-Encriptado .contenido h2{
        padding-left: 20px;
    }

    .Msj-Encriptado .contenido .copiar{
        width: 300px;
        margin-left: 40px;
        height: 50px;
    }
}

@media (max-width: 768px){
    body{
        font-size: 2vw;
        height: 100vh;
    }
    
    .logo{
        width: 50px;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    main{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .text-area{
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        height: 400px;
        font-size: 16px;
        text-transform: lowercase;
    }

    .info{
        margin-left: 0;
    }

    .alerta{
        width: 15px;
        height: 15px;
    }

    .informacion{
        font-size: 10px;
    }

    .botones{
        display: flex;
        justify-content:center;
        margin-left: 5px;
    }

    .boton-encriptar{
        font-size: 16px;
        height: 30px;
        width: 250px;
    }

    .boton-desencriptar {
        font-size: 16px;
        height: 30px;
        width: 250px;
        margin-left: 50px;
    }

    .Msj-Encriptado{
        justify-content: flex-start;
    }

    .Msj-Encriptado .contenido{
        height: 350px;
        margin-left: 30%;
    }

    .Msj-Encriptado .mensaje{
        font-size: 16px;
        width: 100%;
        height: 420px;
        margin-left: 0;
        margin-top: 10px;
    }

    .Msj-Encriptado .contenido .img{
        display: none;
    }

    .Msj-Encriptado .contenido h2{
        margin-top: 160px;
        font-size: 16px;
        padding-left: 25px;
    }

    .Msj-Encriptado .contenido .copiar{
        font-size: 16px;
        width: 250px;
        margin-left: 40px;
        height: 30px;
    }

    .github{
        width: 20px;
        height: 20px;
    }

    .linkedin{
        width: 20px;
        height: 20px;
    }
}
    

